@tailwind base;
@tailwind components;
@tailwind utilities;

.animated-gradient {
    background: linear-gradient(270deg, 
        rgb(214, 175, 254),
        rgb(241, 133, 189),
        rgb(184, 133, 239)
    );
    background-size: 300% 300%;
    animation: gradientShift 3.5s ease-in-out infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}


.animated-dark-gradient {
    background: linear-gradient(270deg,
        #0a0a0a,      /* очень тёмный почти чёрный */
        #1b1b1b,      /* чуть светлее, тёмно-серый */
        #111111       /* между двумя предыдущими */
    );
    background-size: 300% 300%;
    animation: gradientShift 7.5s ease-in-out infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
